@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.logo {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Oswald';
  text-align: center;
  color: rgb(33, 37, 39);
}

.appear {
  transform: translateX(-100%);
  opacity: 0;
}

.appearD {
  transform: translateX(0);
  opacity: 1;
  transition: 300ms all ease-in;
}
